<div class="flex flex-col items-center justify-center">
    <h1>WorkouteRR</h1>

    <form [formGroup]="form" class="mt-8 flex flex-col gap-y-4">
        <rr-input-text
            [label]="'E-mail'"
            [id]="'email'"
            formControlName="email"
        ></rr-input-text>
        <rr-input-text
            [label]="'Password'"
            [type]="'password'"
            [id]="'password'"
            formControlName="password"
        ></rr-input-text>

        <rr-button [fullWidth]="true" class="mt-6" (click)="onLogin()">
            Login
        </rr-button>
    </form>

    <a routerLink="/auth/create-account" class="mt-4"> Create account </a>
</div>
