<rr-auth-layout>
    <ng-container *transloco="let t">
        <h1>{{ t('create-account.title') }}</h1>

        <form [formGroup]="form" class="mt-8 flex flex-col gap-y-4">
            <rr-input-text
                [label]="t('common.email')"
                [type]="'email'"
                [id]="'email'"
                formControlName="email"
            ></rr-input-text>
            <rr-input-text
                [label]="t('common.password')"
                [type]="'password'"
                [id]="'password'"
                formControlName="password"
            ></rr-input-text>
            <rr-input-text
                [label]="t('create-account.confirm-password')"
                [type]="'password'"
                [id]="'confirmPassword'"
                formControlName="confirmPassword"
            ></rr-input-text>

            <div class="flex items-center justify-between">
                <a routerLink="/login">
                    {{ t('login.title') }}
                </a>
                <div class="w-1/2">
                    <rr-button [fullWidth]="true" (click)="onSubmit()">
                        {{ t('create-account.title') }}
                    </rr-button>
                </div>
            </div>
        </form>
    </ng-container>
</rr-auth-layout>
